body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    display: flex;
    border: solid black;
    flex-direction: column;
    width: 325px;
    height: 550px;
}

.screen {
    flex: 1;
    height: 200px;
    border: solid orange;
}

.buttons {
    display: flex;
    border: blue solid;
    height: 350px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

button {
    border-radius: 12px;
    height: 65px;
    width: 65px;
    font-size: 24px;
}

.zero-button {
    width: 135px;
}